= render @post, local: :post
.row
  .ui.hidden.divider
  %h2.ui.huge.header Комментарии
  %table.ui.single.line.table
    %thead
      %tr
        %th.one.wide Пользователь
        %th.seven.wide Текст
        %th.one.wide Дата
        %th.three.wide Операции
    %tbody
      = render partial: 'admin/comments/comment', collection: @post.comments, cached: true
