%h2.ui.sub.header= post.title
%span
  March 6, 2018 by
  %a.ui.image.label
    = image_tag "http://dearmemories.ucoz.ru/avatar/54/229149.jpg"
    Пользователь
  %a.ui.image.label Новость
%p
  = raw @markdown.render(post.text)