.row
  .ui.small.divided.selection.list
    - @posts.each do |post|
      .ui.vertical.segment
        %h3.ui.header
          = link_to post.title, post_path(post.id), class: 'post_title'
        %span
          = post.created_at.strftime("%m/%d/%Y в %I:%M%p")
          by
          Пользователь
        %p
          %p= post.text
= paginate @posts
