-# %h2.ui.sub.header
-#   =link_to @post.title, post_path(@post.id), class: 'post_title'
-# %span
-#   March 6, 2017 by
-#   %a(href="blog.html") Пользователь
-# %p
-#   =raw @markdown.render(@post.text.truncate_words(15))
-# %p
-#   =link_to 'Show', @post
-#   =link_to 'Edit', edit_post_path(@post)
-#   =link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }
=render @post
.ui.divider
%h3.ui.header Комментарии
= render partial: 'comments/comment', collection: @post.comments, cached: true
.ui.divider
%h3.ui.header Написать
= render 'comments/form'