// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.volume_row {
	margin-top: 10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.chapters_row {
	padding-bottom: 0px;
}